node_modules/
coverage/
dist/
__actual__/
.buildcache
.DS_Store
.pnpm-debug.log
scratch
*.tsbuildinfo
*.log

/.vscode/settings.json
/reports

# Ignore generated docs pages that change often
/docs/src/content/docs/releases.md
