# Package manager-related content
node_modules/
.pnpm-debug.log

# Generated content (e.g. build & test output, caches)
.astro/
.wrangler/
__actual__/
coverage/
dist/
.buildcache
.DS_Store
scratch
/reports

# Log files
*.tsbuildinfo
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local config files
/.vscode/settings.json

# Environment variables & secrets
.env
.env.production

# Generated docs pages that change often
/docs/src/content/docs/releases.md
