prefer-workspace-packages=true
link-workspace-packages=deep

; Allow our packages to use the same shiki version as shiki-twoslash
; without having to add shiki as an explicit dependency
public-hoist-pattern[]=shiki
