{
  "printWidth": 180,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": [".*", "*.json", "*.md", "*.toml", "*.yml"],
      "options": {
        "useTabs": false
      }
    }
  ]
}
